@import "tailwindcss";
:root {
  color-scheme: light dark;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  place-items: center;
  min-width: 320px;
}

@media (prefers-color-scheme: light) {
  html,
  body {
    background-color: white;
    color: #111827;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: oklch(27.4% 0.006 286.033);
    color: white;
  }
}
